<!DOCTYPE html>
<html>

<head>
  <!--published at 2019-03-02 18:33:21 -->
  <title>股票池推荐系统</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://g1.dfcfw.com/g1/special/favicon_shortcut.ico">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="updatedtime" content="2019/3/2 10:33:21 +00:00">
  <meta name="wapurl" content="">
  <!-- base href="http://quote.eastmoney.com/center/gridlist.html" -->




  <link rel="stylesheet" href="index_files/gridlist.css">


  <script type="text/javascript" charset="UTF-8">
    var emtj_isUpload = 1;
    var emtj_pageId = 113200301321; // 只修改此处
    var emtj_logSet = "1111111111";
    var emtj_sampleRate = 1;
  </script>

  <style>
    body {

      margin-top: 43px;

    }



    .topnavmain {

      width: 1200px;

      margin: 0 auto;

      background-color: #fff;

    }



    html,

    html body {

      _background-image: url(about:blank);

      _background-attachment: fixed;

    }



    .top-nav-wrap ul {

      padding: 0;

      margin: 0;

      list-style: none;

    }



    .top-nav-wrap {

      font-size: 12px;

      font-family: simsun;

      height: 30px;

      background-color: #f7f7f7;

      border-top: 2px solid #ff4901;

      border-bottom: 1px solid #dfdfdf;

      position: fixed !important;

      position: absolute;

      left: 0;

      top: 0;

      _top: expression(eval(document.documentElement.scrollTop));

      z-index: 99999;

      width: 100%;

      min-width: 1000px;

    }



    .top-nav-wrap .topnavmain {

      background-color: #F7F7F7;

    }



    .tw-nav {

      height: 30px;

      float: left;

    }



    .top-nav-wrap a,

    .top-nav-wrap .down-menu {

      float: left;

    }



    .top-nav-wrap a:link,

    .top-nav-wrap a:visited {

      height: 16px;

      padding: 7px 5px;

      line-height: 16px;

      background-color: none;

      color: #000;

      text-decoration: none;

    }



    .top-nav-wrap span.red a {

      color: #ff4901;

    }



    .top-nav-wrap a:hover {

      background-color: #eaeaea;

      text-decoration: none;

    }



    .down-menu {

      position: relative;

      width: 87px;

    }



    .down-menu.wz0 {

      width: auto;

    }



    .down-menu.wz2 {

      width: 64px;

    }



    .down-menu.wz3 {

      width: 70px;

    }



    .down-menu.wz4 {

      width: 82px;

    }



    .down-menu.wz6 {

      width: 105px;

    }



    .down-menu .category {

      background-image: url(http://g1.dfcfw.com/g2/201607/20160725145137.png);

      background-repeat: no-repeat;

      background-position: right 13px;

      padding: 7px 0;

      display: block;

      float: none;

      text-align: center;

      text-indent: -8px;

    }



    .down-menu .category.red {

      color: #ff4900 !important;

    }



    .down-menu ul,

    .down-menu .loginBox {

      clear: both;

      background: #b3d0e4;

      padding-bottom: 1px;

      width: 100%;

      position: absolute;

      left: 0;

      -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);

      -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);

      box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);

      display: none;

    }



    .down-menu ul li a {

      background-color: #fff;

      margin: 1px;

      margin-top: 0;

      padding: 6px 0;

      display: block;

      text-align: center;

      float: none;

    }



    .down-menu a:hover {

      color: #ff4901;

    }



    .down-menu ul li {

      width: 100%;

    }



    .down-menu ul li.tit {

      text-align: center;

      font-weight: bold;

    }



    .down-menu ul li.blue {

      color: #315895;

    }



    .down-menu ul li.red {

      color: #ff4900;

    }



    .down-menu ul li.red a {

      color: #ff4900 !important;

    }



    .down-menu ul li.tit span {

      background-color: #f7f7f7;

      margin: 1px;

      margin-top: 0;

      padding: 6px 0;

      display: block;

      zoom: 1;

    }



    .down-menu.wz5 ul,

    .down-menu.wz5 ul li {

      width: 145px;

    }



    .down-menu.wz2 ul,

    .down-menu.wz2 ul li {

      width: 105px;

    }



    .down-menu.wz4 ul,

    .down-menu.wz4 ul li {

      width: 90px;

    }



    .tw-login {

      float: right;

      text-align: right;

    }



    .down-menu.show ul,

    .down-menu.show .loginBox {

      display: block;

    }



    .down-menu.show .category {

      background-color: #eaeaea;

    }



    .down-menu .userinfo {

      color: #ff4901;

      height: 30px;

      line-height: 17px;

      width: 170px;

    }



    .down-menu .userinfo a {

      margin: 0;

      padding: 0;

      float: none;

      color: #ff4901;

      text-indent: 0 !important;

      display: inline-block !important;

      padding: 7px 4px;

    }



    .down-menu .userinfo cite {

      display: inline-block;

      padding: 7px 0;

      font-style: normal;

    }



    .down-menu .userinfo a.usernick {

      padding-right: 16px;

      background-position: right -355px;

    }



    .down-menu .userinfo .user-menu {

      position: relative;

      display: inline-block;

    }



    .down-menu .userinfo .user-menu-list {

      position: absolute;

      top: 30px;

      left: 0;

      border: 1px solid #b3d0e4;

    }



    .down-menu .userinfo .user-menu-list div {

      background-color: #FFF;

      padding: 14px;

      color: #000;

      width: 120px;

      text-align: left;

    }



    .down-menu .user-menu-list dt,

    .user-menu-list dd {

      float: left;

      margin: 0;

      height: 16px;

      line-height: 16px;

      margin: 2px 0;

      width: 60px;

      overflow: hidden;

    }



    .down-menu .user-menu-list dt {

      clear: both;

    }
  </style>
  <link rel="stylesheet" href="index_files/ts.css">
  <link rel="stylesheet" href="index_files/stocksuggest2017.css">
</head>

<body>
  <div class="page-wrapper">
    
      
       
      
        
    <div id="page-body" class="page-body">
      <div id="sidemenu" class="fl side-menu" style="position: static; top: 33px;">
         

        <div id="table_wrapper" class="row">
          <div id="main-table_wrapper" class="dataTables_wrapper no-footer">
            <div class="listview full">
              <table id="main-table" class="dataTable no-footer" role="grid">
                <thead>
                  <tr role="row">
                    <th class="listview-col-number sorting_disabled" rowspan="1" colspan="1" aria-label="序号" style="">序号
                    </th>
                    <th class="listview-col-Code sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="代码: 以升序排列此列" style=""><span>代码</span><b class="icon"></b></th>
                    <th class="listview-col-Name sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="名称: 以升序排列此列" style=""><span>名称</span><b class="icon"></b></th>
                    <th class="listview-col-Links sorting_disabled" rowspan="1" colspan="1" aria-label="相关链接" style="">
                      <span>相关链接</span><b class="icon"></b></th>
                    <th class="listview-col-Close sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="最新价: 以升序排列此列" style=""><span>最新价</span><b class="icon"></b></th>
                    <th class="listview-col-ChangePercent sorting_desc" tabindex="0" aria-controls="main-table"
                      rowspan="1" colspan="1" aria-label="涨跌幅: 以升序排列此列" style="" aria-sort="descending">
                      <span>涨跌幅</span><b class="icon"></b></th>
                    <th class="listview-col-Change sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="涨跌额: 以升序排列此列" style=""><span>涨跌额</span><b class="icon"></b></th>
                    <th class="listview-col-Volume sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="成交量(手): 以升序排列此列" style=""><span>成交量(手)</span><b class="icon"></b></th>
                    <th class="listview-col-Amount sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="成交额: 以升序排列此列" style=""><span>成交额</span><b class="icon"></b></th>
                    <th class="listview-col-Amplitude sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="振幅: 以升序排列此列" style=""><span>振幅</span><b class="icon"></b></th>
                    <th class="listview-col-High sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="最高: 以升序排列此列" style=""><span>最高</span><b class="icon"></b></th>
                    <th class="listview-col-Low sorting" tabindex="0" aria-controls="main-table" rowspan="1" colspan="1"
                      aria-label="最低: 以升序排列此列" style=""><span>最低</span><b class="icon"></b></th>
                    <th class="listview-col-Open sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="今开: 以升序排列此列" style=""><span>今开</span><b class="icon"></b></th>
                    <th class="listview-col-PreviousClose sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="昨收: 以升序排列此列" style=""><span>昨收</span><b class="icon"></b></th>
                    <th class="listview-col-VolumeRate sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="量比: 以升序排列此列" style=""><span>量比</span><b class="icon"></b></th>
                    <th class="listview-col-TurnoverRate sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="换手率: 以升序排列此列" style=""><span>换手率</span><b class="icon"></b></th>
                    <th class="listview-col-PERation sorting" tabindex="0" aria-controls="main-table" rowspan="1"
                      colspan="1" aria-label="市盈率(动态): 以升序排列此列" style=""><span>市盈率(动态)</span><b class="icon"></b></th>
                    <th class="listview-col-PB sorting" tabindex="0" aria-controls="main-table" rowspan="1" colspan="1"
                      aria-label="市净率: 以升序排列此列" style=""><span>市净率</span><b class="icon"></b></th>
                    <th class="favourite-stock sorting_disabled" rowspan="1" colspan="1" aria-label="加自选" style="">加自选
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">1</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600928.html">600928</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600928.html">N西行</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600928.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600928.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600928.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">6.74</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">44.02%</span></td>
                    <td class=" listview-col-Change"><span class="red">2.06</span></td>
                    <td class=" listview-col-Volume">4414</td>
                    <td class=" listview-col-Amount">296.7万</td>
                    <td class=" listview-col-Amplitude">23.93%</td>
                    <td class=" listview-col-High"><span class="red">6.74</span></td>
                    <td class=" listview-col-Low"><span class="red">5.62</span></td>
                    <td class=" listview-col-Open"><span class="red">5.62</span></td>
                    <td class=" listview-col-PreviousClose">4.68</td>
                    <td class=" listview-col-VolumeRate">-</td>
                    <td class=" listview-col-TurnoverRate">0.10%</td>
                    <td class=" listview-col-PERation">12.48</td>
                    <td class=" listview-col-PB">1.40</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">2</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz002526.html">002526</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz002526.html">山东矿机</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,002526.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/002526.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/002526.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">2.82</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.16%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.26</span></td>
                    <td class=" listview-col-Volume">149.1万</td>
                    <td class=" listview-col-Amount">4.04亿</td>
                    <td class=" listview-col-Amplitude">12.89%</td>
                    <td class=" listview-col-High"><span class="red">2.82</span></td>
                    <td class=" listview-col-Low"><span class="green">2.49</span></td>
                    <td class=" listview-col-Open"><span class="green">2.50</span></td>
                    <td class=" listview-col-PreviousClose">2.56</td>
                    <td class=" listview-col-VolumeRate">1.34</td>
                    <td class=" listview-col-TurnoverRate">9.17%</td>
                    <td class=" listview-col-PERation">24.17</td>
                    <td class=" listview-col-PB">2.06</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">3</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz000536.html">000536</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz000536.html">华映科技</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,000536.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/000536.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/000536.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">3.80</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.14%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.35</span></td>
                    <td class=" listview-col-Volume">292万</td>
                    <td class=" listview-col-Amount">10.56亿</td>
                    <td class=" listview-col-Amplitude">12.75%</td>
                    <td class=" listview-col-High"><span class="red">3.80</span></td>
                    <td class=" listview-col-Low"><span class="green">3.36</span></td>
                    <td class=" listview-col-Open"><span class="green">3.40</span></td>
                    <td class=" listview-col-PreviousClose">3.45</td>
                    <td class=" listview-col-VolumeRate">1.28</td>
                    <td class=" listview-col-TurnoverRate">14.58%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">0.88</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">4</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz002600.html">002600</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz002600.html">领益智造</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,002600.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/002600.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/002600.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">5.45</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.10%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.50</span></td>
                    <td class=" listview-col-Volume">362万</td>
                    <td class=" listview-col-Amount">19.34亿</td>
                    <td class=" listview-col-Amplitude">8.89%</td>
                    <td class=" listview-col-High"><span class="red">5.45</span></td>
                    <td class=" listview-col-Low"><span class="red">5.01</span></td>
                    <td class=" listview-col-Open"><span class="red">5.44</span></td>
                    <td class=" listview-col-PreviousClose">4.95</td>
                    <td class=" listview-col-VolumeRate">1.34</td>
                    <td class=" listview-col-TurnoverRate">24.33%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">3.78</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">5</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600094.html">600094</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600094.html">大名城</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600094.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600094.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600094.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">5.02</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.09%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.46</span></td>
                    <td class=" listview-col-Volume">37.64万</td>
                    <td class=" listview-col-Amount">1.85亿</td>
                    <td class=" listview-col-Amplitude">10.09%</td>
                    <td class=" listview-col-High"><span class="red">5.02</span></td>
                    <td class=" listview-col-Low">4.56</td>
                    <td class=" listview-col-Open">4.56</td>
                    <td class=" listview-col-PreviousClose">4.56</td>
                    <td class=" listview-col-VolumeRate">2.24</td>
                    <td class=" listview-col-TurnoverRate">1.65%</td>
                    <td class=" listview-col-PERation">167.52</td>
                    <td class=" listview-col-PB">1.07</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">6</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh601106.html">601106</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh601106.html">中国一重</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,601106.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/601106.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/601106.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">3.93</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.08%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.36</span></td>
                    <td class=" listview-col-Volume">166.3万</td>
                    <td class=" listview-col-Amount">6.26亿</td>
                    <td class=" listview-col-Amplitude">11.20%</td>
                    <td class=" listview-col-High"><span class="red">3.93</span></td>
                    <td class=" listview-col-Low"><span class="green">3.53</span></td>
                    <td class=" listview-col-Open"><span class="green">3.53</span></td>
                    <td class=" listview-col-PreviousClose">3.57</td>
                    <td class=" listview-col-VolumeRate">1.46</td>
                    <td class=" listview-col-TurnoverRate">2.54%</td>
                    <td class=" listview-col-PERation">196.49</td>
                    <td class=" listview-col-PB">2.46</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">7</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600375.html">600375</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600375.html">华菱星马</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600375.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600375.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600375.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">5.03</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.07%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.46</span></td>
                    <td class=" listview-col-Volume">21.23万</td>
                    <td class=" listview-col-Amount">1.03亿</td>
                    <td class=" listview-col-Amplitude">8.10%</td>
                    <td class=" listview-col-High"><span class="red">5.03</span></td>
                    <td class=" listview-col-Low"><span class="red">4.66</span></td>
                    <td class=" listview-col-Open"><span class="red">4.71</span></td>
                    <td class=" listview-col-PreviousClose">4.57</td>
                    <td class=" listview-col-VolumeRate">1.64</td>
                    <td class=" listview-col-TurnoverRate">3.82%</td>
                    <td class=" listview-col-PERation">141.31</td>
                    <td class=" listview-col-PB">1.01</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">8</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz300175.html">300175</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz300175.html">朗源股份</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,300175.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/300175.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/300175.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">5.14</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.06%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.47</span></td>
                    <td class=" listview-col-Volume">7.32万</td>
                    <td class=" listview-col-Amount">3742万</td>
                    <td class=" listview-col-Amplitude">3.00%</td>
                    <td class=" listview-col-High"><span class="red">5.14</span></td>
                    <td class=" listview-col-Low"><span class="red">5.00</span></td>
                    <td class=" listview-col-Open"><span class="red">5.00</span></td>
                    <td class=" listview-col-PreviousClose">4.67</td>
                    <td class=" listview-col-VolumeRate">0.60</td>
                    <td class=" listview-col-TurnoverRate">1.58%</td>
                    <td class=" listview-col-PERation">35.57</td>
                    <td class=" listview-col-PB">2.98</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">9</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz000859.html">000859</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz000859.html">国风塑业</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,000859.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/000859.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/000859.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">7.44</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.06%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.68</span></td>
                    <td class=" listview-col-Volume">194.3万</td>
                    <td class=" listview-col-Amount">13.82亿</td>
                    <td class=" listview-col-Amplitude">12.72%</td>
                    <td class=" listview-col-High"><span class="red">7.44</span></td>
                    <td class=" listview-col-Low"><span class="green">6.58</span></td>
                    <td class=" listview-col-Open"><span class="green">6.60</span></td>
                    <td class=" listview-col-PreviousClose">6.76</td>
                    <td class=" listview-col-VolumeRate">0.95</td>
                    <td class=" listview-col-TurnoverRate">26.28%</td>
                    <td class=" listview-col-PERation">55.29</td>
                    <td class=" listview-col-PB">3.58</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">10</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz002750.html">002750</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz002750.html">龙津药业</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,002750.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/002750.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/002750.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">8.76</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.05%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.80</span></td>
                    <td class=" listview-col-Volume">2.48万</td>
                    <td class=" listview-col-Amount">2175万</td>
                    <td class=" listview-col-Amplitude">0.00%</td>
                    <td class=" listview-col-High"><span class="red">8.76</span></td>
                    <td class=" listview-col-Low"><span class="red">8.76</span></td>
                    <td class=" listview-col-Open"><span class="red">8.76</span></td>
                    <td class=" listview-col-PreviousClose">7.96</td>
                    <td class=" listview-col-VolumeRate">0.34</td>
                    <td class=" listview-col-TurnoverRate">0.63%</td>
                    <td class=" listview-col-PERation">191.06</td>
                    <td class=" listview-col-PB">5.42</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">11</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600678.html">600678</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600678.html">四川金顶</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600678.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600678.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600678.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">7.12</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.05%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.65</span></td>
                    <td class=" listview-col-Volume">63.26万</td>
                    <td class=" listview-col-Amount">4.44亿</td>
                    <td class=" listview-col-Amplitude">9.89%</td>
                    <td class=" listview-col-High"><span class="red">7.12</span></td>
                    <td class=" listview-col-Low"><span class="red">6.48</span></td>
                    <td class=" listview-col-Open"><span class="red">6.53</span></td>
                    <td class=" listview-col-PreviousClose">6.47</td>
                    <td class=" listview-col-VolumeRate">2.93</td>
                    <td class=" listview-col-TurnoverRate">18.13%</td>
                    <td class=" listview-col-PERation">60.05</td>
                    <td class=" listview-col-PB">37.73</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">12</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh601319.html">601319</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh601319.html">中国人保</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,601319.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/601319.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/601319.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">8.76</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.05%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.80</span></td>
                    <td class=" listview-col-Volume">290.1万</td>
                    <td class=" listview-col-Amount">24.14亿</td>
                    <td class=" listview-col-Amplitude">12.06%</td>
                    <td class=" listview-col-High"><span class="red">8.76</span></td>
                    <td class=" listview-col-Low"><span class="green">7.80</span></td>
                    <td class=" listview-col-Open"><span class="green">7.85</span></td>
                    <td class=" listview-col-PreviousClose">7.96</td>
                    <td class=" listview-col-VolumeRate">0.97</td>
                    <td class=" listview-col-TurnoverRate">28.68%</td>
                    <td class=" listview-col-PERation">23.98</td>
                    <td class=" listview-col-PB">2.56</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">13</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz300279.html">300279</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz300279.html">和晶科技</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,300279.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/300279.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/300279.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">5.81</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.04%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.53</span></td>
                    <td class=" listview-col-Volume">27.12万</td>
                    <td class=" listview-col-Amount">1.56亿</td>
                    <td class=" listview-col-Amplitude">9.47%</td>
                    <td class=" listview-col-High"><span class="red">5.81</span></td>
                    <td class=" listview-col-Low"><span class="red">5.31</span></td>
                    <td class=" listview-col-Open"><span class="red">5.36</span></td>
                    <td class=" listview-col-PreviousClose">5.28</td>
                    <td class=" listview-col-VolumeRate">1.74</td>
                    <td class=" listview-col-TurnoverRate">8.68%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">2.67</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">14</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh603063.html">603063</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh603063.html">禾望电气</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,603063.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/603063.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/603063.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">9.86</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.04%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.90</span></td>
                    <td class=" listview-col-Volume">36.18万</td>
                    <td class=" listview-col-Amount">3.5亿</td>
                    <td class=" listview-col-Amplitude">6.81%</td>
                    <td class=" listview-col-High"><span class="red">9.86</span></td>
                    <td class=" listview-col-Low"><span class="red">9.25</span></td>
                    <td class=" listview-col-Open"><span class="red">9.25</span></td>
                    <td class=" listview-col-PreviousClose">8.96</td>
                    <td class=" listview-col-VolumeRate">2.07</td>
                    <td class=" listview-col-TurnoverRate">14.17%</td>
                    <td class=" listview-col-PERation">71.60</td>
                    <td class=" listview-col-PB">1.75</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">15</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600651.html">600651</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600651.html">飞乐音响</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600651.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600651.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600651.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">3.95</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.03%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.36</span></td>
                    <td class=" listview-col-Volume">73.97万</td>
                    <td class=" listview-col-Amount">2.89亿</td>
                    <td class=" listview-col-Amplitude">9.19%</td>
                    <td class=" listview-col-High"><span class="red">3.95</span></td>
                    <td class=" listview-col-Low"><span class="red">3.62</span></td>
                    <td class=" listview-col-Open"><span class="red">3.66</span></td>
                    <td class=" listview-col-PreviousClose">3.59</td>
                    <td class=" listview-col-VolumeRate">2.76</td>
                    <td class=" listview-col-TurnoverRate">7.51%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">1.61</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">16</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh600425.html">600425</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh600425.html">青松建化</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,600425.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/600425.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/600425.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">4.06</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.03%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.37</span></td>
                    <td class=" listview-col-Volume">69.81万</td>
                    <td class=" listview-col-Amount">2.81亿</td>
                    <td class=" listview-col-Amplitude">7.32%</td>
                    <td class=" listview-col-High"><span class="red">4.06</span></td>
                    <td class=" listview-col-Low"><span class="red">3.79</span></td>
                    <td class=" listview-col-Open"><span class="red">3.79</span></td>
                    <td class=" listview-col-PreviousClose">3.69</td>
                    <td class=" listview-col-VolumeRate">1.18</td>
                    <td class=" listview-col-TurnoverRate">5.06%</td>
                    <td class=" listview-col-PERation">9.29</td>
                    <td class=" listview-col-PB">1.24</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">17</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz002670.html">002670</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz002670.html">国盛金控</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,002670.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/002670.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/002670.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">12.18</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.03%</span></td>
                    <td class=" listview-col-Change"><span class="red">1.11</span></td>
                    <td class=" listview-col-Volume">24.74万</td>
                    <td class=" listview-col-Amount">2.96亿</td>
                    <td class=" listview-col-Amplitude">9.58%</td>
                    <td class=" listview-col-High"><span class="red">12.18</span></td>
                    <td class=" listview-col-Low"><span class="red">11.12</span></td>
                    <td class=" listview-col-Open"><span class="red">11.30</span></td>
                    <td class=" listview-col-PreviousClose">11.07</td>
                    <td class=" listview-col-VolumeRate">0.85</td>
                    <td class=" listview-col-TurnoverRate">3.94%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">2.07</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">18</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz002175.html">002175</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz002175.html">东方网络</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,002175.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/002175.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/002175.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">3.95</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.03%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.36</span></td>
                    <td class=" listview-col-Volume">50.55万</td>
                    <td class=" listview-col-Amount">1.87亿</td>
                    <td class=" listview-col-Amplitude">12.53%</td>
                    <td class=" listview-col-High"><span class="red">3.95</span></td>
                    <td class=" listview-col-Low"><span class="green">3.50</span></td>
                    <td class=" listview-col-Open">3.59</td>
                    <td class=" listview-col-PreviousClose">3.59</td>
                    <td class=" listview-col-VolumeRate">1.01</td>
                    <td class=" listview-col-TurnoverRate">8.43%</td>
                    <td class=" listview-col-PERation">-</td>
                    <td class=" listview-col-PB">4.96</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" listview-col-number">19</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sz300278.html">300278</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sz300278.html">华昌达</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,300278.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/300278.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/300278.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">6.70</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.02%</span></td>
                    <td class=" listview-col-Change"><span class="red">0.61</span></td>
                    <td class=" listview-col-Volume">8977</td>
                    <td class=" listview-col-Amount">601.5万</td>
                    <td class=" listview-col-Amplitude">0.00%</td>
                    <td class=" listview-col-High"><span class="red">6.70</span></td>
                    <td class=" listview-col-Low"><span class="red">6.70</span></td>
                    <td class=" listview-col-Open"><span class="red">6.70</span></td>
                    <td class=" listview-col-PreviousClose">6.09</td>
                    <td class=" listview-col-VolumeRate">0.11</td>
                    <td class=" listview-col-TurnoverRate">0.33%</td>
                    <td class=" listview-col-PERation">159.78</td>
                    <td class=" listview-col-PB">2.37</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" listview-col-number">20</td>
                    <td class=" listview-col-Code"><a href="http://quote.eastmoney.com/sh603000.html">603000</a></td>
                    <td class=" listview-col-Name"><a href="http://quote.eastmoney.com/sh603000.html">人民网</a></td>
                    <td class=" listview-col-Links"><a href="http://guba.eastmoney.com/list,603000.html">股吧</a><a
                        href="http://data.eastmoney.com/zjlx/603000.html">资金流</a><a
                        href="http://data.eastmoney.com/stockdata/603000.html">数据</a></td>
                    <td class=" listview-col-Close"><span class="red">19.21</span></td>
                    <td class="listview-col-ChangePercent sorting_1"><span class="red">10.02%</span></td>
                    <td class=" listview-col-Change"><span class="red">1.75</span></td>
                    <td class=" listview-col-Volume">89.97万</td>
                    <td class=" listview-col-Amount">16.86亿</td>
                    <td class=" listview-col-Amplitude">8.30%</td>
                    <td class=" listview-col-High"><span class="red">19.21</span></td>
                    <td class=" listview-col-Low"><span class="red">17.76</span></td>
                    <td class=" listview-col-Open"><span class="red">18.00</span></td>
                    <td class=" listview-col-PreviousClose">17.46</td>
                    <td class=" listview-col-VolumeRate">1.97</td>
                    <td class=" listview-col-TurnoverRate">8.14%</td>
                    <td class=" listview-col-PERation">235.10</td>
                    <td class=" listview-col-PB">7.58</td>
                    <td class=" favourite-stock"><a class="addzx" target="_self" onclick="return false;"
                        href="javascript:void(0);"></a></td>
                  </tr>
                </tbody>
              </table>
               
          </div>
        </div>

      </div>
    </div>
    <div class="page-footer">
      <!-- footer-2016 -->
      <style>
        .footer2016 ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .footer2016 a:hover {
          color: #ff4901 !important;
          text-decoration: underline !important;
        }

        .footer2016 .icon,
        .footer2016 .navlist li a {
          display: inline-block;
        }

        .footer2016 .icon {
          background-image: url(http://g1.dfcfw.com/g3/201802/20180206095814.png);
          background-repeat: no-repeat;
        }

        .footer2016 {
          margin: 0 auto;
          clear: both;
          width: 1200px;
          line-height: 1.1;
          _line-height: 1.2;
          font-family: simsun;
          font-size: 12px;
          border-top: 2px solid #2F5895;
        }

        .footer2016 .footertg {
          background-color: #F3F3F3;
          float: left;
          width: 100%;
          padding: 12px 0 0;
          height: 140px;
        }

        .footer2016 .footertg a:link,
        .footer2016 .footertg a:visited {
          color: #676767;
          text-decoration: none;
        }

        .footer2016 .qr {
          float: left;
          width: 80px;
          height: 140px;
          line-height: 150%;
          padding: 0 20px 0 8px;
        }

        .footer2016 .qr .t {
          font-weight: 700;
          font-size: 14px;
          padding-bottom: 10px;
        }

        .footer2016 .icon_qrem80,
        .footer2016 .icon_qrjj80 {
          background-image: url(http://g1.dfcfw.com/g2/201607/20160728133707.png);
          width: 80px;
          height: 80px;
        }

        .footer2016 .icon_qrem80 {
          background-position: 0 -330px;
        }

        .footer2016 .icon_emwxqr,
        .footer2016 .icon_jjwxqr {
          background-image: url(http://g1.dfcfw.com/g2/201607/20160728133707.png);
          width: 86px;
          height: 106px;
        }

        .footer2016 .icon_emwxqr {
          background-position: -90px 0;
        }

        .footer2016 .ftglist ul li.qrli {
          position: relative;
        }

        .footer2016 .ftglist ul li.qrli:hover .icon_qr,
        .footer2016 .scl-news .name a {
          display: block;
        }

        .footer2016 .icon_emwxqr,
        .footer2016 .icon_jjwxqr {
          display: none;
          position: absolute;
          left: 0;
          top: 24px;
        }

        .footer2016 .ftglist {
          float: left;
          height: 140px;
          padding: 0 20px;
        }

        .footer2016 .ftglistt {
          font-size: 14px;
          font-weight: 700;
          line-height: 130%;
          padding-bottom: 6px;
          text-align: left;
        }

        .footer2016 .ftglist ul li {
          padding: 5px 0;
          color: #676767;
          text-align: left;
        }

        .footer2016 .icon_wb {
          background-position: -24px 0;
          width: 14px;
          height: 12px;
        }

        .footer2016 .icon_wx {
          background-position: 0 0;
          width: 14px;
          height: 11px;
        }

        .footer2016 .icon_note {
          background-position: -47px 0;
          width: 13px;
          height: 11px;
        }

        .footer2016 .ftglist .icon {
          vertical-align: -1px;
          margin-right: 2px;
        }

        .footer2016 .footertg a:link,
        .footer2016 .footertg a:visited {
          color: #676767;
          text-decoration: none;
        }

        .footer2016 .qrl {
          border-left: 1px solid #ddd;
          margin-left: 20px;
          padding-left: 40px;
        }

        .footer2016 .icon_qrjj80 {
          background-position: -90px -330px;
        }

        .footer2016 .footercr {
          clear: both;
          text-align: center;
          line-height: 26px;
          font-size: 12px;
          width: 1200px;
          margin: 0 auto;
          height: 26px;
          overflow: hidden;
        }

        .footer2016 .icon_icp {
          background-position: -24px -21px;
          width: 15px;
          height: 17px;
        }

        .footer2016 .footercr .icon {
          vertical-align: -3px;
          margin-right: 2px;
        }

        .footer2016 .icon_pol {
          background-position: 0 -22px;
          width: 18px;
          height: 20px;
        }

        .footer2016 .footerlinks {
          background-color: #2F5895;
          height: 30px;
          text-align: center;
          line-height: 30px;
        }

        .footer2016 .footerlinks a:link,
        .footer2016 .footerlinks a:visited,
        .footer2016 .footerlinks a:hover {
          color: #fff !important;
          text-decoration: none;
          margin: 0 14px;
        }

        .footer2016 .footerbz {
          text-align: center;
          padding: 12px 0;
        }

        .footer2016 .footerbz a {
          margin: 0 4px;
        }

        .footer2016 .footer-police {
          background-position: 0 -112px;
          width: 110px;
          height: 40px;
        }

        .footer2016 .footer-zx110 {
          background-position: -120px -113px;
          width: 110px;
          height: 40px;
        }

        .footer2016 .footer-shjubao {
          background-position: 0 -172px;
          width: 110px;
          height: 40px;
        }

        .footer2016 .footer-cxzx {
          background-position: -120px -174px;
          width: 40px;
          height: 40px;
        }

        .footer2016 .footer-shgs {
          background-position: -180px -174px;
          width: 47px;
          height: 40px;
        }

        .footer2016 .footer-12377 {
          background-position: 0 -54px;
          width: 186px;
          height: 40px;
        }

        .footer2016 .footer-yhjb {
          background-position: 0 -229px;
          width: 123px;
          height: 40px;
        }

        .footer2016 .footer-qrlast {
          width: 90px;
        }

        .footer2016 .footer-icon-qihuoqr {
          background: url(http://emcharts.dfcfw.com/images/qihuoqr.png);
          width: 80px;
          height: 80px;
          display: inline-block;
          background-repeat: no-repeat;
          vertical-align: -5px;
        }

        .footer2016 .footer-lastqihuo {
          padding-right: 0px;
        }
      </style>

       

      <script>
        if (document.all && !window.XMLHttpRequest) {
          $(".qrli").hover(function () {
            $(".icon_qr", this).show();
          }, function () {
            $(".icon_qr", this).hide();
          });
        }
      </script>
    </div>
  </div>
  <!--[if lt IE 9]>
        <script src="//hqres.eastmoney.com/libs/es5-shim/4.5.7/es5-shim.min.js" type='text/javascript'></script>
        <script src="//hqres.eastmoney.com/libs/es5-shim/4.5.7/es5-sham.min.js" type='text/javascript'></script>
    <![endif]-->
  <script type="text/javascript">var environment = 'production';</script>
  <script type="text/javascript" src="index_files/jquery.js"></script>
  <!--顶部导航-->
  <script type="text/javascript" src="index_files/topnav1200.js" async="" defer="defer"></script>




  <script src="index_files/lodash.js"></script>
  <script type="text/javascript" src="index_files/gridlist.js" async="" defer="defer"></script>


  <!--花式埋点-->
  <script type="text/javascript">var _cpyno = "c1";</script>


  <script type="text/javascript" src="index_files/usercollect.js" charset="utf-8"></script>
  <script type="text/javascript" src="index_files/jump_tracker.js" charset="UTF-8"></script>
   
  <script src="index_files/jump_hotarea.js" type="text/javascript" charset="UTF-8"></script>

 
 
  <script src="index_files/bigdata_tracker_20190124.js" type="text/javascript" charset="UTF-8"></script>
</body>

</html>